@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-primary text-secondary;
    font: 400 16px Nunito, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
